<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}">
    <!-- <a href="{{ '/subscribe' | prepend: site.baseurl }}"> -->
      <img class="nav-title" src="../assets/images/metasoul_logo.png" style="max-width: 150px;">
      <!-- <h2 class="nav-title">{{ site.title }}</h2> -->
    </a>
    <ul>
      <li><a href="{{ '/subscribe' | relative_url }}">Subscribe</a></li>
      <li><a href="{{ site.baseurl }}">Blog</a></li>
      <li><a href="{{ '/team' | relative_url }}">Team</a></li>
      <li><a href="{{ '/tags' | relative_url }}">Tags</a></li>
      <li><a href="{{ '/about' | relative_url }}">About</a></li>
    </ul>
  </div>
</nav>
